<h1 class="mb-o mt-5">From-Event</h1>
<br>

<div class="row">
  <!----- Card-1 ----->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Add Video</div>
      <div class="card-body">
        <button class="btn btn-primary" #addList>Add</button>
      </div>
    </div>
  </div>
  <!----- Card-2 ----->
  <div class="col-md-4">
    <div class="card">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul class="mb-0" id="elContainer">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!----- Card-3 ----->
  <div class="col-md-4">
    <div class="card">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul class="mb-0" id="elContainer2">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <!--------- Input Event ---------->
  <div class="col-md-3">
    <h2 class="mb-1">button Event</h2>
    <input type="text" placeholder="name">
  </div>


  <div class="col-md-3"></div>
</div>