<mat-toolbar color="primary">
  <span>RXJS Series</span>
  <span class="badge text-bg-danger ms-3" *ngIf="exclusive">Haresh</span>
  <span class="example-spacer"></span>
  <button mat-raised-button class="mr-5" routerLink="async-await">Async-Await</button>
  <button mat-raised-button class="mr-5" routerLink="promise">Promise</button>
  <button mat-raised-button class="mr-5" routerLink="subject">Subject</button>
  <button mat-raised-button class="mr-5" routerLink="behivour-Subject">Behivour-Subject</button>
  <button mat-raised-button class="mr-5" routerLink="observable">Observable</button>
</mat-toolbar>