<h1 class="mb-0 mt-5">Concat-Map, ConcatAll</h1>
<br>



<div class="container">
  <div class="row">
    <!-------------------------------------------------------------------------------------------
                                                Map
    -------------------------------------------------------------------------------------------->
    <div class="col-md-3">
      <strong>Source - 01 | Map</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech Videos List : </strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr>
      <ul id="elContainer1">
      </ul>
    </div>

    <!-------------------------------------------------------------------------------------------
                                          Map + ConcatAll
    -------------------------------------------------------------------------------------------->
    <div class="col-md-3">
      <strong>Source - 02 | Map + ConcatAll</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy Videos List : </strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr>
      <ul id="elContainer2">
      </ul>
    </div>

    <!-------------------------------------------------------------------------------------------
                                              ConcatMap
    -------------------------------------------------------------------------------------------->
    <div class="col-md-3">
      <strong>Source - 03 | ConcatMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos List : </strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr>
      <ul id="elContainer3">
      </ul>
    </div>

    <!-------------------------------------------------------------------------------------------
                                              MergeMap
    -------------------------------------------------------------------------------------------->
    <div class="col-md-3">
      <strong>Source - 04 | MergeMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos List : </strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr>
      <ul id="elContainer4">
      </ul>
    </div>
  </div>
</div>