<h1 class="mb-0 mt-5 text-danger">Take, Take-Last & Take-Until</h1>
<br>

<h2 class="mb-0 mt-5">Take</h2>
<!-------------------------------------------------------------------
                                Take
-------------------------------------------------------------------->
<div class="row">
  <!---- Example-1 ---->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Take : max 5 Data</strong>
        </p>
        <ul id="elContainer"></ul>
      </div>
    </div>
  </div>

  <!---- Example-2 ---->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-2</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Take : First 5 Data Print From Observable Stream</strong>
        </p>
        <ul id="elContainer2"></ul>
      </div>
    </div>
  </div>
</div>


<h2 class="mb-0 mt-5">Take-Last</h2>
<!-------------------------------------------------------------------
                              Take-Last
-------------------------------------------------------------------->
<div class="row">
  <!---- Example-1 ---->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Take-Last : Last 5 Data Print From Observable Stream</strong>
        </p>
        <ul id="elContainer3"></ul>
      </div>
    </div>
  </div>
</div>



<h2 class="mb-0 mt-5">Take-Until</h2>
<!-------------------------------------------------------------------
                              Take-Until
-------------------------------------------------------------------->
<div class="row">
  <!---- Example-1 ---->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Take-Until : Get 5 Data After automatic Unsubscribe Observable Stream</strong>
        </p>
        <ul id="elContainer4"></ul>
      </div>
    </div>
  </div>
  <!---- Example-2 ---->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-2</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Take-Until : AnyWhere Outside Click (using event) to Unsubscribe Observable Stream</strong>
        </p>
        <ul id="elContainer5"></ul>
      </div>
    </div>
  </div>
</div>