<h1 class="mb-0 mt-5">Filter</h1>
<br>



<!-------------------------------------------------------------------
                              Filter
-------------------------------------------------------------------->
<div class="row">

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Filter : </strong>by Length
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of data">
              <td>{{items.id}}</td>
              <td>{{items.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-2</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Filter : </strong>by Gender
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of data2">
              <td>{{items.id}}</td>
              <td>{{items.name}}</td>
              <td>{{items.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-3</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Filter : </strong>Display more than 6 Items
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of data3">
              <td>{{items.id}}</td>
              <td>{{items.name}}</td>
              <td>{{items.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>