<h1 class="mb-0 mt-5">toArray</h1>
<br>

<!-------------------------------------------------------------------
                              toArray()
-------------------------------------------------------------------->
<div class="row mt-0">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Normal Loop</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Data : </strong>Normal Loop 0 to 4 using interval
        </p>
        <ul class="mb-0">
          <li class="text-danger">view in console</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Array of Object</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Data :</strong>Array of Object to convert Array of Object
        </p>
        <ul class="mb-0">
          <li class="text-danger">view in console</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">String</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Data :</strong>String to convert Array
        </p>
        <ul class="mb-0">
          <li class="text-danger">view in console</li>
        </ul>
      </div>
    </div>
  </div>
</div>