<h1>List</h1>

<div class="row">
  <div class="col-md-12 m-0 p-0">
    <ul class="list">
      <li><a routerLink="fromEvent" routerLinkActive="active">FromEvent</a></li>
      <li><a routerLink="interval" routerLinkActive="active">Interval-Timer</a></li>
      <li><a routerLink="of-from" routerLinkActive="active">of-From</a></li>
      <li><a routerLink="toArray" routerLinkActive="active">toArray</a></li>
      <li><a routerLink="custom-Obs" routerLinkActive="active">Custom-Observable</a></li>
    </ul>
  </div>
</div>