.tech-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tech-list li {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 13px;
  margin-bottom: 10px;
}

.tech-list.error li {
  color: orangered;
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid orangered;
}

.tech-list.completed li {
  color: #00bb06;
  background: rgba(61, 216, 0, 0.15);
  border: 1px solid #3dd843;
}