<h1 class="mb-0 mt-5">Merge</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech Channel(5)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech Videos List : </strong> 1,2,3,4,5
      </p>
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Channel(3)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy Videos List : </strong> 1,2,3
      </p>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Channel(4)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos List : </strong> 1,2,3,4
      </p>
    </div>
  </div>



  <hr>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-around align-items-center">
          Your Channel (subscriber)
          <button class="btn btn-success" (click)="example1()">Subscribe</button>
        </div>
        <div class="card-body">
          <ul id="el-container">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>