<!----------------------------------------------------------
                          Interval
----------------------------------------------------------->
<h2 class="text-danger">Interval</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Interval</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo1">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Interval</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo2">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Interval</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo3">
        </ul>
      </div>
    </div>
  </div>
</div>



<!----------------------------------------------------------
                          Timer
----------------------------------------------------------->
<h2 class="text-danger mt-5">Timer</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Timer</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo4">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Timer</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo5">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Timer</div>
      <div class="card-body">
        <ul class="mb-0" id="userVideo6">
        </ul>
      </div>
    </div>
  </div>
</div>