input {
  border: 1px solid #6d6fe9;
}

.form-control:focus {
  box-shadow: none;
}

.thumbnail-img {
  width: 120px;
  height: auto;
  object-fit: cover;
  background-size: cover;
}

.w-5 {
  width: 5%;
}

.w-15 {
  width: 15%;
}