<h1 class="mb-0 mt-5">Switch-Map</h1>
<br>

<section class="container">
  <h2>Search Videos :</h2>

  <form #searchForm="ngForm">
    <input type="text" required name="searchterm" placeholder="Search Here..." autocomplete="off" ngModel
      class="form-control">
  </form>

  <br>
  <hr>

  <div class="result">
    <div class="d-flex">
      <h2>Search Result</h2>
      <span class="ml-auto text-muted">5 Results Found...</span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-primary">#</th>
          <th class="text-primary">Thumbnail</th>
          <th class="text-primary">Title & Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="w-100" *ngFor="let item of searchResult; index as i;">
          <th class="w-5">{{i + 1}}</th>
          <td class="w-15">
            <img src="{{item.thumbnail}}" class="thumbnail-img">
          </td>
          <td>
            <strong>{{item.title}}</strong>
            <p class="mt-1">{{item.description}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>