<app-header></app-header>


<div class="outlet-container">
  <router-outlet></router-outlet>
</div>


<!------ Input inside icon with tooltip ------>
<!-- <div class="input-with-icon">
  <input type="text" class="form-control" value="this value doesn't" data-toggle="tooltip" data-placement="bottom"
    title="Name already exist. Please enter unique name.">
  <i class="fa fa-info-circle icon"></i>
</div> -->



<!-- <td>
  <span data-toggle="tooltip" data-placement="bottom" title="Name already exist. Please enter unique name.">
    <input type="text" class="form-control-tab icon-exsla" disabled value="Aniket Shah">
  </span>
</td> -->
