<h1>Behivour Subject</h1>
<ul>
  <li>Subject can not Init the Custom Value in Service File</li>
  <li>Behivour-Subject can Custom Init the Value by Set the value from Service File</li>
  <li>Subscribe to get & Fill this Initial Value</li>
</ul>
<hr>
<br>
<div class="card-header text-danger">
  Main Behivour Subject Component
</div>
<br>
<h3>Subject Value <span class="text-primary">{{subjectValue}}</span></h3>
<h3>Behivour-Subject Value : <span class="text-primary">{{BehivourSubjectValue}}</span></h3>
<hr>
<br>
<div class="row">
  <div class="col-md-4">
    <app-compo1></app-compo1>
  </div>
  <div class="col-md-4">
    <app-compo2></app-compo2>
  </div>
  <div class="col-md-4">
    <app-compo3></app-compo3>
  </div>
</div>