<h1 class="mb-0 mt-5">Pluck</h1>
<br>


<!-------------------------------------------------------------------
                        Custom-Observable
-------------------------------------------------------------------->
<div class="row">

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Pluck : </strong>simple pluck data
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of userData">
              <td>{{items}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-2</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Pluck : </strong>pluck with Nested Property
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of userData2">
              <td>{{items}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-3</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Pluck : </strong>pluck with Nested in Nested Property
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Job Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of userData3">
              <td>{{items}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>