<!---- Observable Intro ---->
<!-- <ul>
  <li>Observable is Syns | Async</li>
  <li>Return Stream of value [0--------0--------0--------0-------0]</li>
</ul>

<a href="#" id="click-button">Click Here Redirect Promise Component</a>

<br> -->

<h2>10 Ways to Create Observable Stream</h2>
<ul>
  <li>create</li>
  <li>defer</li>
  <li>empty</li>
  <li>from</li>
  <li>fromEvent</li>
  <li>interval</li>
  <li>of</li>
  <li>range</li>
  <li>throw</li>
  <li>timer</li>
</ul>



<router-outlet></router-outlet>