.card {
  border: 1px solid rgb(255, 29, 153);
  margin: 15px;
}

.card-header {
  color: rgb(255, 29, 153);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 224, 241);
  border-bottom: 1px solid rgb(255, 29, 153);
}