<h1>of() & From()</h1>




<!-------------------------------------------------------------------
                              of()
-------------------------------------------------------------------->
<div>
  <h2>Example-1 (of operator)</h2>
  <hr>
  <div class="row">
    <!----- Example-1 ------>
    <div class="col-md-6">
      <p class="border rounded bg-light py-2 px-2">
        <strong>Data :</strong>of ('anup', 'shekhar', 'sharma')
      </p>
      <hr>
      <ul id="elContainer"></ul>
    </div>
    <hr>
    <!----- Example-2 ------>
    <div class="col-md-6">
      <p class="border rounded bg-light py-2 px-2">
        <strong>Data :</strong>of (&#123;a: 'Anup', b: 'Shekhar', c: 'Sharma'&#125;)
      </p>
      <hr>
      <ul>
        <li><strong>a :</strong> {{obsMsg.a}}</li>
        <li><strong>b :</strong> {{obsMsg.b}}</li>
        <li><strong>c :</strong> {{obsMsg.c}}</li>
      </ul>
    </div>
  </div>
</div>