@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  font-family: "Lobster Two", cursive;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.card {
  border: 1px solid rgb(255, 29, 153);
  margin: 15px;
}

.card-header {
  color: rgb(255, 29, 153);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 224, 241);
  border-bottom: 1px solid rgb(255, 29, 153);
}

ul {
  margin-bottom: 0;
}
