<h1 class="mb-0 mt-5">Map</h1>
<br>


<!-------------------------------------------------------------------
                        Custom-Observable
-------------------------------------------------------------------->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-1</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>'video' + data
        </p>
        <p class="mb-0 pt-2">Message : <strong class="text-success">{{msg1}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-2</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>data * 10
        </p>
        <p class="mb-0 pt-2">Message : <strong class="text-success">{{msg2}}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-3</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>Map Object Data
        </p>
        <ul id="elContainer"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-4</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>Input Event
        </p>
        <input type="text" id="inputBox">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-5</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>Transform Data From Fake Api Data
        </p>
        <ul>
          <li class="text-danger">View in Console</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Example-6</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>Map with Of Operator (Of return new observable)
        </p>
        <ul>
          <li class="text-danger">View in Console</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Higher Order Observable</div>
      <div class="card-body">
        <p class="border rounded bg-light py-2 px-2">
          <strong>Map : </strong>Higher Order Observable (observable of observable)
        </p>
        <ul>
          <li class="text-danger">View in Console</li>
        </ul>
      </div>
    </div>
  </div>
</div>